apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: sge
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: cesar02dd/client:latest
          ports:
            - containerPort: 5173
