name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push server
        uses: docker/build-push-action@v5
        with:
          context: ../server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/server:latest
      - name: Build and push client
        uses: docker/build-push-action@v5
        with:
          context: ../client/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/client:latest

  test_windows:
    name: Test on node ${{ matrix.node_version }} and Windows
    runs-on: windows-latest
    strategy:
      matrix:
        node_version: [18]  
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm test

        
        